

.weui-tab {
    position: static;
    height: 100%;
}

.fill_space {
    position: static;
    height: 30px;
}

.fixd_in_bottom {
    position:fixed;
    bottom:0;
    width:100%;
}

.item_msg_warn {
    background-color: #ff464b;
    color: #ffffff;
}
