

.weui-tab {
    position: static;
    height: 100%;
}

.fill_space {
    position: static;
    height: 30px;
}

.fixd_in_bottom {
    position:fixed;
    bottom:0;
    width:100%;
}

.item_msg_warn {
    background-color: #ff464b;
    color: #ffffff;
}

.button_style  {
    margin:3px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 40px;
    height: 40px;
}

.span_style {
    margin:15px;
    width: 50px;
}

.center_panel {
    text-align: center;
}

.tips_stype {
    font-size: 10px;
    color: rgba(2, 175, 36, 0.98);
}